body {
    margin: 0;
}
.OgBox{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*box1*/
.LoginBox1{
    border: 1px solid black;
    border-start-start-radius: 3rem;
    border-start-end-radius: 3rem;
    padding: 2rem;
    text-transform: capitalize;
    font-size: 2rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: black;
}

/*box2*/
.box2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid black;
    border-top: 1rem;
    border-end-end-radius: 3rem;
    border-end-start-radius: 3rem;
    text-align: center;
    padding: 10px;
    background-color: white;
}

/*text*/
/*form*/
label{
    font-size: 1.5rem;
    text-align: center;
}
.LoginInput{
    align-self: center;
    text-align: center;
    background-color: white;
    color: black;
    padding: 1rem;
    font-size: 1rem;
    width: 70%;
    border:1px solid black;
    margin-bottom: 1rem;
}
.q-afterinput1{
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    color: black;
}
.q-afterinput2{
    border-top: 1px solid gray;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    color: black;
}
.LoginSubmitBtn{
    font-size: 1.3rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: rgb(92, 92, 231);
    color: white;
}
.LoginSubmitBtn:hover{
    cursor: pointer;
}
/*creates even spacing in the row of the buttons*/
.Lbtns{
    display: flex;
    justify-content: space-evenly;
}
.Lbtn{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}
.Lbtns a{
    text-decoration: none;
}
.LogFlexy{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
/*when small screen*/
